.header{
    width:100%;
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: #20232a;
    margin: 0;
    padding: 0;
}
.header .empty {
    width: 35px;
}
.header a {
    text-decoration: none;
    color: #eff3f7;
    text-transform: uppercase;
    padding: 15px;
    margin: 0;
    font-size: 18px;
}